@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* light color thmes */
    --color-text-light-base: #191919;
    --color-text-light-muted: #454545;
    --color-light-fill: #fff;
    --color-fill-light-muted: #c7c7c7;
    --color-light-button: #DEDEDE;
    --color-button-light-hover: #C7C7C7;
    --color-list-light-hover: #E84B4F;
    --color-list-light-selected: #ED7377;
    --color-button-light-selected: #0476D0;
    --color-button-light-selected-hover: #088FFA;

    /* dark color themes */
    --color-text-dark-base: #E8E8E8;
    --color-text-dark-muted: #BABABA;
    --color-dark-fill: #000;
    --color-fill-dark-muted: #171717;
    --color-dark-button: #454545;
    --color-button-dark-hover: #5C5C5C;
    --color-list-dark-hover: #E84B4F;
    --color-list-dark-selected: #ED7377;
    --color-button-dark-selected: #0476D0;
    --color-button-dark-selected-hover: #088FFA;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 16px;
}

.dashboard_item {
  @apply rounded-lg shadow-lg
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;

  background-color: white;
  /* background-color: #f9fafd; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  color: #1a1a1a
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  /* font-weight: 500; */
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}